
#header {
	background: url(../img/header-background.png);
	height:100px;
	background-size:cover;
}

#header .logo {
	float:left;
	height: 100px;
}	

#header .logo img {
	height:100px;
}

#header .navbar {
	height:40px;
	float:right;
	margin-top: 60px;
	background-color: rgba(255, 255, 255, 0.8);
	/*margin-bottom: 0px;*/
	width:70%;
}

#header .navbar ul {
	margin: 0;	
	padding:0px;
}

#header .navbar ul li {
	list-style-type:none;
	float:left;
	margin:0;
	padding-left:20px;
	padding-right:20px;
	line-height:64px;
	vertical-align: center;
	color:grey;
}
#header .navbar ul li:hover{
	color:blue;
}

#body { 
	margin-top:0px;
}

/*#body img{
	box-shadow: 0px 1px 1px black;
}*/

.row-fluid {
	width: 100%;
}

.row-fluid .span6 {
	width: 45%;
	float: left;
	margin-left: 44px;
	margin-top:20px;
}

.trip-image {
	width: 100%;
	height: 400px;
	/*overflow: hidden;*/
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 1px black;
}

/*.highlight {
	position: relative;
	background-color: rgba(255, 255, 255, 0.4);
	width:620px;
	height:90px;
	margin-top:-90px;
}

.highlight p {
	font-size: 22px;
}*/

.row-fluid-footer{
	position: relative;
	top:20px;
	clear:both;
	width:100%;
	height:100px;
	background-color: #666666;
	margin-top: 20px;
	border-top: 2px solid yellow;
}

.row-fluid-footer #footer-image1 {
	float: left;
	/*height:100px;
	width:20%;*/
	margin-top: 5px;
	margin-left:60px;
}

.row-fluid-footer #footer-image2 {
	float: left;
	/*height:100px;
	width:40%;*/
	margin-top: 5px;
	margin-left:70px;
}

.row-fluid-footer #footer-image3 {
	float: left;
	/*height:100px;
	width:40%;*/
	margin-top: 20px;
	margin-left:200px;
}